/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.super__container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e9ecef;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 800px;
}

.title__container {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    font-size: 16px;
    color: #333333;
}

th {
    background-color: #DF691A;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

button {
    background-color: #28a745; /* Color verde para el botón de editar */
    color: white;
    border: none;
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

button:active {
    background-color: #1e7e34;
}

/* Estilo para el botón de eliminar */
.eliminar-btn {
    background-color: #dc3545; /* Rojo */
    color: white;
    border: none;
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.eliminar-btn:hover {
    background-color: #c82333; /* Rojo más oscuro al pasar el ratón */
}

.eliminar-btn:active {
    background-color: #bd2130; /* Rojo aún más oscuro al hacer clic */
}

.botones__producto {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.button__confirmation {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 20rem;
}

.button__confirmation:hover {
    background-color: #0056b3;
}
